**
!src/
!src/**
!manage.py
!pyproject.toml
!README.md
!LICENSE
!NOTICE.md
!content/
!content/examples/
!content/examples/**
!deploy/
!deploy/container/
!deploy/container/**
!scripts/
!scripts/ops/
!scripts/ops/**
**/__pycache__/
**/*.pyc
**/*.egg-info/
