[Unit]
Description=Check for abandoned quiz answer sessions every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=1s
Unit=nihongo-quiz-expire-attempts.service

[Install]
WantedBy=timers.target
